<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Video Stream</title> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>

			html, body {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
				height: 100%
			}

			.grid {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));

				grid-gap: 0;
			}
			
			img {
				object-fit: contain;
				width: 100%;
				display: block;
			}
		</style>
	</head>
	<body>
		<div class="grid">
			{% for camera in camera_endpoints %}
			<div class="grid-el">
				<img src="{{camera}}">
			</div>
			{% endfor %}
		</div>
	</body>
</html>
